.c-filter {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  margin-right: 0;
  margin-bottom: 16px;

  @include breakpoint(property('breakpoint.lg')) {
    margin-right: 76px;
  }


  &__item {
    width: 24px;
    margin-right: 20px;
    color: property('color.secondary');
    text-decoration: none;
    text-align: center;
    transition: property('transition.primary');

    &.is-active {
      fill: property('color.primary');
      color: property('color.primary');
    }

    &:hover {
      fill: property('color.primary');
      color: property('color.primary');
    }
  }

  &__label {
    font-size:  property('typography.font.size.primary');
    font-family: #{property('typography.font.family.primary')};
    text-decoration: none;
  }
}