.c-search {
  position: relative;

  &__item {
    border: 1px solid #5B6770;
    border-radius: 20px;
    color: #5B6770;
    height: 40px;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    padding-right: 50px;
    width: 160px;
    font-family: $secondary-font;

    &:focus {
      background: #00A9E0;
      color: #fff;
      border-color: #fff;

      &::placeholder {
        color: #fff;
      }
    }
  }

  &__icon {
    transition: background-color 0.3s ease-out;
    position: absolute;
    right: 5px;
    top: 3px;
    height: 34px;
    width: 37px;
    background-color: #5B6770;
    border-radius: 20px;
    padding: 5px;
    fill: #fff;

    &.is-active {
      background: #00A9E0;
    }
  }

}