.c-search {
  position: relative;

  &__item {
    border: 1px solid property('color.border.primary');
    border-radius: 20px;
    color: property('color.secondary');
    height: 40px;
    font-size: property('typography.font.size.secondary');
    font-weight: 300;
    padding-left: 20px;
    padding-right: 50px;
    width: 160px;
    font-family: #{property('typography.font.family.secondary')};;

    &:focus {
      background: property('color.primary');
      color: property('color.tertiary');
      border-color: property('color.border.secondary');

      &::placeholder {
        color: property('color.tertiary');
      }
    }
  }

  &__icon {
    transition: background-color 0.3s ease-out;
    position: absolute;
    right: 5px;
    top: 3px;
    height: 34px;
    width: 37px;
    background-color: property('color.secondary');
    border-radius: 20px;
    padding: 5px;
    fill: property('color.tertiary');

    &.is-active {
      background: property('color.primary');
    }
  }

}