.c-slot {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr 1fr;
  grid-gap: 10px;
  grid-auto-flow: row;
  margin-bottom: 10px;
  position: relative;

  @include breakpoint(property('breakpoint.sm')) {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr 1fr;
    grid-gap: 12.5px;
    margin-bottom: 12.5px;
    grid-auto-flow: row;
  }

  @include breakpoint(property('breakpoint.md')) {
    grid-gap: 15px;
    margin-bottom: 15px;
  }

  @include breakpoint(property('breakpoint.lg')) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 20px;
  }


  &__badge {
    position: absolute;

    &--new {
      left: 3px;
      top: 10px;
      @include breakpoint(property('breakpoint.sm')) {
        left: 10px;
      }

      + .c-slot__badge--high-limit {
        top: 9px;
      }
    }


    &--high-limit {
      top: -14px;
      transform: rotate(315deg);
      left: 4px;

      @include breakpoint(property('breakpoint.sm')) {
        top: inherit;
        transform: inherit;
        right: 0;
        left: inherit;
      }
    }
  }

  &__item {
    position: relative;
    animation-name: zoomIn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    @keyframes zoomIn {
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
      }

      50% {
        opacity: 1
      }
    }


    &--large {
      grid-column-end: 2 span;
      grid-row-end: 2 span;
      justify-self: center;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 400;
    color: property('color.primary');
    font-family: #{property('typography.font.family.primary')};
    position: absolute;
    top: -50px;

    @include breakpoint(property('breakpoint.md')) {
      font-size: 36px;
    }
  }
}