.l {
  &-main {
    max-width: property('container.main');
    margin: 10px;

    @include breakpoint(property('breakpoint.xl')) {
      margin: 10px auto 0;
    }
  }

  &-row {
    display: flex;
  }
}
